<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Register new task</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<a href="/tasks/">На главную</a>
<h3>Список заявок в обработке</h3>
<form action="/tasks/search/" method="get">
    <label for="search_input">Поиск по номеру заказа:</label>
    <input type="number" id="search_input" name="search_input">
    <button>Искать</button>
</form>
<table>
    <thead>
    <tr>
        <th>Номер заявки</th>
        <th>Дата добавления</th>
        <th>Обработан</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task: ${tasks}">
        <td th:text="${task.order_number}" />
        <td th:text="${#dates.format(task.created, 'dd.MM.yyyy HH:mm:ss')}" />
        <td th:switch="${task.hasProcessed}">
            <span th:case="true" th:text="Да"/>
            <span th:case="false" th:text="Нет"/>
        </td>
    </tr>
    </tbody>
</table>
</body>

</html>